## Coilcast application settings
ADMIN_LOGIN="admin"
ADMIN_PASS="changeme"
MUSIC_FOLDER="./music"
DEBUG_MODE=False
HTTP_PORT=8080

## Database settings
DB_TYPE=SQLITE  # SQLITE and POSTGRESQL are supported
DB_NAME=coilcast

## Only necessary when DB_TYPE=POSTGRESQL
# DB_USER=coilcast
# DB_PASS=coilcast
# DB_HOST=postgres
# DB_PORT=5432
